.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.first {
  background-color: #fff;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
}

.second-a {
  background-color: #c0dbe2;
}

.second-b {
  background-color: #cdf1c3;
}
