/* second example */
.column-layout {
  max-width: 1300px;
  background-color: #fff;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.column-layout > * {
  flex: 1;
}

.main-column {
  flex: 3;
}
